/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* document formatting */
body {
  font-family: sans-serif;
}

/* page-wide text */
h1 {
  margin: 0.8rem auto;
  font-size: 2rem;
  font-weight: 500;
  justify-self: center;
  text-align: center;
}
h2 {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}
h4 {
  font-size: 0.8rem;
  flex-wrap: nowrap;
  text-align: center;
  margin: auto 0.2rem auto 0.2rem;
}
button {
  margin: 0.2rem auto;
}

input {
  max-width: 6.5rem;
  margin: 0 auto;
}

/* sections */
main {
  display: flex;
  margin: 0 auto;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
main h2 {
  margin-top: 0.8rem;
}
div#wallet {
  display: flex;
  flex-flow: column wrap;
  max-width: 18rem;
  margin: 0 1rem;
}
/* wallet */
article {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.5rem auto;
  background-color: #AAAAAB;
  padding: 0.8rem;
  border-radius: 1rem;
}
article section {
  max-width: 7rem;
  margin: auto 0.5rem auto 0.5rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}
article button {
  width: 4.8rem;
}
article input {
  margin-top: 0.75rem;
}
section h2, h4 {
  margin: 0 auto;
  color: white;
}
span {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  margin: 0 auto 1rem auto;
  justify-items: center;
  justify-content: center;
}

/* add field */
div.sub section {
  display: flex;
  flex-flow: row wrap;
  margin: 0.9rem auto;
  max-width: 12rem;
  justify-content: space-evenly;
  justify-items: center;
  align-items: space-evenly;
  background-color: #AAAAAB;
  padding: 0.8rem;
  border-radius: 1rem;
}
div.sub input, div.sub button {
  margin: auto;
}
div.sub section.delete {
  max-width: 8rem;
}
/* animation */
.fade-in1 {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
.fade-in2 {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
@keyframes move {
}
